<div class="offcanvas-wrapper" style="background-color: #f5f5f5;">
<section class="container padding-top-1x" style="background-color: white;">
<h3 class="text-center mb-30">GIẤY CHỨNG NHẬN</h3>
  <div class="row">
    <div class="col-lg-4 col-md-4 text-center">
      <img src="themes/img/giay_cn_1.png" alt="Wartec" style="width:100%;height:150px;border:solid 1px #8a8383;border-radius: 5px;">
    </div>
    <div class="col-lg-4 col-md-4 text-center">
      <img src="themes/img/giay_cn_2.jpg" alt="Wartec" style="width:100%;height:150px;border:solid 1px #8a8383;border-radius: 5px;">
    </div>
    <div class="col-lg-4 col-md-4 text-center">
      <img src="themes/img/giay_cn_3.png" alt="Wartec" style="width:100%;height:150px;border:solid 1px #8a8383;border-radius: 5px;">
    </div>
    </div>
  </section>
  </div>
<div class="offcanvas-wrapper" style="background-color: #f5f5f5;">
<section class="container padding-top-1x" style="background-color:white;">
<h3 class="text-center mb-30">KHÁCH HÀNG TIÊU BIỂU</h3>
  <div class="row">
    <div class="col-lg-4 col-md-4 text-center">
      <img src="themes/img/kh_1.jpg" alt="Wartec" style="width:100%;height:150px;border:solid 1px #8a8383;border-radius: 5px;">
    </div>
    <div class="col-lg-4 col-md-4 text-center">
      <img src="themes/img/kh_2.jpg" alt="Wartec" style="width:100%;height:150px;border:solid 1px #8a8383;border-radius: 5px;">
    </div>
    <div class="col-lg-4 col-md-4 text-center">
      <img src="themes/img/kh_3.jpg" alt="Wartec" style="width:100%;height:150px;border:solid 1px #8a8383;border-radius: 5px;">
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col-lg-4 col-md-4 text-center">
      <img src="themes/img/kh_4.jpg" alt="Wartec" style="width:100%;height:150px;border:solid 1px #8a8383;border-radius: 5px;">
    </div>
    <div class="col-lg-4 col-md-4 text-center">
      <img src="themes/img/kh_5.jpg" alt="Wartec" style="width:100%;height:150px;border:solid 1px #8a8383;border-radius: 5px;">
    </div>
    <div class="col-lg-4 col-md-4 text-center">
      <img src="themes/img/kh_6.png" alt="Wartec" style="width:100%;height:150px;border:solid 1px #8a8383;border-radius: 5px;">
    </div>
    </div>
  </section>
  </div>

<div class="offcanvas-wrapper" style="background-color: #f5f5f5;">
<section class="container padding-top-1x" style="background-color: white;">
<h3 class="text-center mb-30">CAM KẾT VỀ SẢN PHẨM</h3>
  <div class="row">
    <div class="col-lg-6 col-md-6 text-center">
      <ul class="text-left" style=" font-size: 20px; color: black; margin-left: 10px;">
        <li>Sản phẩm 100%  tự nhiên.</li>
        <li>Không hóa chất trong quá trình sản xuất.</li>
        <li>Sản phẩm có giấy chứng nhận SGS, QUATEST 3, EROFINS, giấy tự công bố.</li>
        <li>Sản phẩm  được tiệt trùng bằng tia UV.</li>
        <li>Phân hủy 100% trong môi trường tự nhiên.</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 text-center">
      <img src="themes/img/dung_thu.jpg" alt="Wartec" style="width:100%;height:100%;border:solid 1px #8a8383;border-radius: 5px;">
    </div>
    </div>
  </section>
  </div>
<br>
<!-- Site Footer-->
<div class="offcanvas-wrapper">
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <!-- Contact Info-->
          <section class="widget widget-light-skin">
            <h3 class="widget-title">LIÊN HỆ</h3>
            <p class="text-white">Cửa hàng điện nước Wartec</p>
            <p class="text-white">Phone: 0389.501.059 - 0946.276370</p>
            <p class="text-white">ĐC: 138/45 Hoàng Văn Thái, quận Liên Chiểu, TP Đà Nẵng</p>
            <ul class="list-unstyled text-sm text-white">
              <li><span class="opacity-50">Monday-Sunday:</span> 7.00 am - 12.00 pm</li>
            </ul>
            <p><a class="navi-link-light" href="#">diennuocwartec@gmail.com</a></p><a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a><a class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i class="socicon-googleplus"></i></a>
          </section>
        </div>
        <div class="col-lg-3 col-md-6">
          <!-- Mobile App Buttons-->
          <section class="widget widget-light-skin">
            <h3 class="widget-title">Our Mobile App</h3><a class="market-button apple-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">App Store</span></a><a class="market-button google-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Google Play</span></a><a class="market-button windows-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Windows Store</span></a>
          </section>
        </div>
        <div class="col-lg-3 col-md-6">
          <!-- About Us-->
          <section class="widget widget-links widget-light-skin">
            <h3 class="widget-title">CHUYÊN CUNG CẤP SỈ & LẺ</h3>
            <ul>
              <li><a href="#">Điện nước</a></li>
              <li><a href="#">Điện công nghiệp</a></li>
              <li><a href="#">Điện dân dụng</a></li>
              <li><a href="#">Tư vấn thiết kế và thi công các công trình điện nước dân dụng & công nghiệp</a></li>
            </ul>
          </section>
        </div>
        <div class="col-lg-3 col-md-6">
          <!-- Account / Shipping Info-->
          <section class="widget widget-links widget-light-skin">
            <h3 class="widget-title">CAM KẾT</h3>
            <ul>
              <li><a href="#">Sản phẩm 100%  tự nhiên.</a></li>
              <li><a href="#">Không hóa chất trong quá trình sản xuất.</a></li>
              <li><a href="#">Sản phẩm có giấy chứng nhận SGS, QUATEST 3, EROFINS, giấy tự công bố.</a></li>
              <li><a href="#">Sản phẩm  được tiệt trùng bằng tia UV.</a></li>
              <li><a href="#">Phân hủy 100% trong môi trường tự nhiên.</a></li>
            </ul>
          </section>
        </div>
      </div>
      <hr class="hr-light mt-2 margin-bottom-2x">
      <div class="row">
        <div class="col-md-7 padding-bottom-1x">
        </div>
        <div class="col-md-5 padding-bottom-1x">
          <div class="margin-top-1x hidden-md-up"></div>
          <!--Subscription-->
          <form class="subscribe-form" action="" method="post" target="_blank" novalidate="">
            <div class="clearfix">
              <div class="input-group input-light">
                <input class="form-control" type="email" name="EMAIL" placeholder="Your e-mail"><span class="input-group-addon"><i class="icon-mail"></i></span>
              </div>
              <button class="btn btn-primary" type="button"><i class="icon-check"></i></button>
            </div><span class="form-text text-sm text-white opacity-50"></span>
          </form>
        </div>
      </div>
      <!-- Copyright-->
      <p class="footer-copyright">© copyright diennuocwartec.com.vn. Design by nhatanh285</a></p>
    </div>
  </footer>
</div>
<script src="themes/product_template/js/vendor.min.js"></script>
<script src="themes/product_template/js/scripts.min.js"></script>
<!-- Customizer scripts-->
<script src="themes/product_template/customizer/customizer.min.js"></script>
<%- include chat.ejs %>
<%- include modal_singup.ejs %>