<!-- Site Footer-->
<div class="offcanvas-wrapper">
  <footer class="site-footer" style="background: #006fba;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <!-- Contact Info-->
          <section class="widget widget-light-skin">
            <h3 class="widget-title">LIÊN HỆ</h3>
            <p class="text-white">Shop Sữa Đà Nẵng</p>
            <p class="text-white">Phone: 0972.981.498</p>
            <p class="text-white">ĐC: 66 Hòa Minh 15-p. Hòa Minh-Q.Liên Chiểu-Tp. Đà Nẵng</p>
            <ul class="list-unstyled text-sm text-white">
              <li><span class="opacity-50">Monday-Sunday:</span> 7.00 am - 12.00 pm</li>
            </ul>
            <p><a class="navi-link-light" href="#">shopsuadanang@gmail.com</a></p>            
          </section>
        </div>
        <div class="col-lg-3 col-md-6">
          <!-- Mobile App Buttons-->
          <section class="widget widget-light-skin">
            <h3 class="widget-title">Mạng Xã Hội</h3>
            <a class="social-button shape-circle sb-facebook sb-light-skin" href="https://www.facebook.com/Megamilky-Organic-Cn-%C4%90%C3%A0-N%E1%BA%B5ng-107496837677543"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a><a class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i class="socicon-googleplus"></i></a>
          </section>
        </div>
        <div class="col-lg-3 col-md-6">
          <!-- About Us-->
          <section class="widget widget-links widget-light-skin">
            <h3 class="widget-title">CHUYÊN CUNG CẤP SỈ & LẺ</h3>
            <ul>
              <li><a href="#">Điện nước</a></li>
              <li><a href="#">Điện công nghiệp</a></li>
              <li><a href="#">Điện dân dụng</a></li>
              <li><a href="#">Tư vấn thiết kế và thi công các công trình điện nước dân dụng & công nghiệp</a></li>
            </ul>
          </section>
        </div>
        <div class="col-lg-3 col-md-6">
          <!-- Account / Shipping Info-->
          <section class="widget widget-links widget-light-skin">
            <h3 class="widget-title">CAM KẾT</h3>
            <ul>
              <li><a href="#">Sản phẩm chính hãng</a></li>
              <li><a href="#">Giá cả phải chăng</a></li>
              <li><a href="#">Bảo hành tốt</a></li>
            </ul>
          </section>
        </div>
      </div>
      <hr class="hr-light mt-2 margin-bottom-2x">
      <div class="row">
        <div class="col-md-7 padding-bottom-1x">
        </div>
        <div class="col-md-5 padding-bottom-1x">
          <div class="margin-top-1x hidden-md-up"></div>
          <!--Subscription-->
          <form class="subscribe-form" action="" method="post" target="_blank" novalidate="">
            <div class="clearfix">
              <div class="input-group input-light">
                <input class="form-control" type="email" name="EMAIL" placeholder="Your e-mail"><span class="input-group-addon"><i class="icon-mail"></i></span>
              </div>
              <button class="btn btn-primary" type="button"><i class="icon-check"></i></button>
            </div><span class="form-text text-sm text-white opacity-50"></span>
          </form>
        </div>
      </div>
      <!-- Copyright-->
      <p class="footer-copyright">Copyright © 2020 shopsuadanang.com All Rights Reserved. Designed by NA</a></p>
    </div>
  </footer>
</div>
<script src="themes/product_template/js/vendor.min.js"></script>
<script src="themes/product_template/js/scripts.min.js"></script>
<!-- Customizer scripts-->
<script src="themes/product_template/customizer/customizer.min.js"></script>
<%- include chat.ejs %>
<%- include modal_singup.ejs %>