<div  id="footerSection" style="background: linear-gradient(rgba(240, 212, 0, 0.45), rgba(0, 0, 0, 0.45))">
	<div class="row">
	    <div class="col-sm-1">
		</div>
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-3">
					<h4><b>LIÊN HỆ</b></h4>
					<p>Cửa hàng điện nước Hoàng Phi</p>
					<p>ĐC: Mai Đăng Chơn, Hoà Quý, Ngũ Hành Sơn, TP Đà Nẵng</p>
					<p>SDT: 01667288158</p>
				 </div>
				<div class="col-sm-3">
					<h4><b>THÔNG TIN</b></h4>
					<p>Chuyên kinh doanh các mặt hàng điện nước</p>
					<p>Tư vấn công trình điện nước</p>
					<p>Nhận thi công công trình điện nước</p>
				 </div>
				<div class="col-sm-3">
					<h4><b>CAM KẾT</b></h4>
					<p>Sản phẩm chính hãng </p>
					<p>Giá cả phải chăng</p>
					<p>Bảo hành tốt</p>
				 </div>
				 <div class="col-sm-3">
					<a href="https://www.facebook.com/%C4%90i%E1%BB%87n-N%C6%B0%E1%BB%9Bc-Ho%C3%A0ng-Phi-138954693406041/"><img width="60" height="60" src="themes/images/facebook.png" title="facebook" alt="facebook"/></a>
				 </div>
			 </div>
		</div>
		<div class="col-sm-1">
		</div>
	</div>
	</div>