<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="themes/css/find.css" rel="stylesheet" type="text/css">
<div id="myHeader">
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<div class="row row1">
	            
	        </div>
	        <div class="row row2">
	            <div class="col-sm-3">
	             <a href="/">
	             	<img src="themes/img/logo.png" style="float:left">	<h3 style="margin:0px;"><span class="largenav">HOÀNG PHI</span></h3>
	             </a>
	            </div>
	            <div class="col-sm-6">
	                <div class="row">
	                    <input class="form-control" type="text" name="search" placeholder="Tìm kiếm sản phẩm">
	                </div>
	                <div class="alert alert-success" style="display:none; border: 1px solid red">
					    	<strong style="color:red">1 sản phẩm </strong> được thêm thành công vào giỏ hàng click vào giỏ hàng để xem chi tiết
					</div>
	            </div>
	            <div class="col-sm-1">
		            <button  class="btn btn-primary" name="search">
			          <span style="color:black" class="glyphicon glyphicon-search"></span> 
			        </button>
	            </div>
	            <div class="col-sm-1 btnCart <% if(total_product == 0) { %>disabled<%}%>">
	            	<a href="buy_now"><span class="btn btn-primary"><i class="icon-shopping-cart icon-white"></i> [<span style="color:red;font-weight:bold;" class="product_add"><%= total_product %></span>] </span> </a> 
	            </div>
	            <div class="col-sm-1">
		            <button  class="btn btn-primary" name="login" data-toggle="modal" data-target="#modal_login">
			          Login
			        </button>
	            </div>
	        </div>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>

